.header {
  
  background-color: #1c1c21;
  
  width: 100%;
  
  
}

.header__block {
  width: 1240px;
  margin: 0 auto;
  height: 88px;
  align-items: center;
  position: relative;
  display: flex;
  justify-content: space-around;
}

.header__first-column {
  display: flex;
  position: absolute;
  left: 0;
}
.header__second-column {
  display: flex;
  position: absolute;
  right: 0;
}

.header__button-box {
  display: flex;
}